@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/functions";

// Default variable overrides


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');



body {
  font-family: 'Open-sans', sans-serif !important;
  font-size: 16px;
  font-weight: 400;

  p {
    margin-bottom: 0 !important;
  }
}

h2{
  font-weight: 700;
}

.logo_icon img {
  width: 40px;
  height: auto;
}

.card img {
  width: 80px;
  height: auto;
}

.container_feat {
  width: 100%;
  max-width: 900px !important;
}

// Accordion focus
.accordion {
  --bs-accordion-active-color: #ffffff;
  --bs-accordion-active-bg: #2c2c2c;
}


